.pageContainer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.container {
  background-color: white;
  opacity: 0.9;
  display: block;
  margin-top: 200px;
  margin-left: 150px;
  width: 25%;
  height: 500px;
  border-radius: 15px;
  padding: 15px;
}
.image-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 20px;
  flex-direction: column;
  width: 50%;
}
.image-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.image-container p {
  margin-bottom: 10px;
  margin-top: 50px;
  color: white;
}
.image-container img {
  height: auto;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10%;
  padding: 5px;
}
@media screen and (max-width: 1240px) {
  .image-container img {
    width: 90%;
  }
}
@media screen and (max-width: 990px) {
  .container {
    margin-left: 100px;
    height: 600px;
  }
}
@media screen and (max-width: 800px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 80%;
    margin-left: 0;
    margin-top: 80px;
    height: 420px;
  }
  .image-container {
    width: 85%;
    margin-top: 40px;
    margin-left: 0;
  }
  .image-container img {
    width: 100%;
  }
}
