.boatDetailsContainer {
  margin-top: 80px;
  background-color: white;
  opacity: 0.9;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.boatDetailsContainer img {
  width: 400px;
  height: 450px;
  margin-top: 20px;
  cursor: pointer;
}
.boatDetailsContainer .details {
  display: flex;
  flex-direction: column;
}
.boatDetailsContainer .details p {
  font-size: 18px;
}
.boatDetailsContainer .details p span {
  font-weight: bold;
  color: black;
}
.dateForRent {
  margin-bottom: 3px;
}
.picker {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.picker p {
  margin-bottom: 2px;
}
.boatDetailsContainer .details .dugmici {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boatDetailsContainer .details .dugmici button {
  width: 100px;
  height: 50px;
  background-color: rgb(26, 188, 209);
  color: white;
  border: none;
  margin: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.boatDetailsContainer .details .dugmici button:hover {
  background-color: rgb(47, 223, 246);
  transition: 1s;
}
.boatDetailsContainer .details .noRent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boatDetailsContainer .details .noRent button {
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  margin: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.boatDetailsContainer .details .noRent button:disabled {
  background-color: #ccc; /* Siva boja za onemogućeno dugme */
  color: #666;
  cursor: not-allowed;
}
#crvena {
  background-color: rgb(246, 44, 44);
}
#crvena:hover {
  background-color: red;
  transition: 1s;
}
.boatDetailsContainer .details .dugmici .detailsButton {
  width: 100px;
  height: 50px;
  background-color: rgb(26, 188, 209);
  color: white;
  border: none;
  margin: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boatDetailsContainer .details .dugmici .detailsButton:hover {
  background-color: rgb(47, 223, 246);
  transition: 1s;
}
.custom-input {
  border-radius: 15px;
  border: 1px #0c8af8 solid;
  padding: 4px 12px;
  background-color: white;
  height: 22px;
  box-shadow: 0 0 2px #0074d9;
  width: 130px;
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .boatDetailsContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .boatDetailsContainer img {
    width: 90%;
  }
  .boatDetailsContainer .details {
    width: 90%;
  }
}
@media screen and (max-width: 460px) {
  .picker{
    width: 270px;
  }
  .custom-input{
    width: 100px;
  }
}
