.boatDetailsContainer {
  background-color: #f9f9f9; /* Svetla pozadina */
  width: 85%;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Senka za moderniji izgled */
  flex-wrap: wrap; /* Prilagodljivo za manje ekrane */
}

.boatDetailsContainer img {
  width: 40%; /* Slika zauzima 40% prostora */
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boatDetailsContainer img:hover {
  transform: scale(1.05); /* Blagi zoom efekat */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.boatDetailsContainer .details {
  width: 55%; /* Detalji zauzimaju ostatak prostora */
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.boatDetailsContainer .details h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.detailsButton,
#crvena {
  width: 120px; /* Širina dugmeta */
  height: 50px; /* Visina dugmeta */
  font-size: 16px; /* Veličina teksta */
  font-weight: bold; /* Podebljan tekst */
  border: none; /* Bez ivice */
  border-radius: 10px; /* Zaobljeni uglovi */
  cursor: pointer; /* Ikonica ruke na hover */
  display: flex; /* Flex za centriranje sadržaja */
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Bez podvlačenja teksta */
  transition: all 0.3s ease; /* Animacija za hover */
}

/* Specifično za Edit dugme */
.detailsButton {
  background-color: #189ab4; /* Plava boja */
  color: white; /* Bela boja teksta */
}

.detailsButton:hover {
  background-color: #75e6da; /* Svetlija plava na hover */
  transform: scale(1.05); /* Blago povećanje */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Senka na hover */
}
.boatDetailsContainer .details p {
  font-size: 18px;
  color: #555;
}

.boatDetailsContainer .details p span {
  font-weight: bold;
  color: #333;
}

.picker {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-top: 10px;
}

.picker p {
  font-size: 26px;
  color: #555;
  margin-bottom: 5px;
}

.custom-input {
  border-radius: 10px;
  border: 1px solid #189ab4;
  padding: 8px 12px;
  background-color: #f9f9f9;
  height: 40px;
  font-size: 16px;
  width: 250px;
  transition: box-shadow 0.3s ease;
}

.custom-input:focus {
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.dugmici,
.noRent {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.dugmici button,
.noRent button {
  padding: 20px 50px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dugmici button {
  background-color: #189ab4;
  color: white;
}

.dugmici button:hover {
  background-color: #75e6da;
}

#crvena {
  background-color: #e60000; /* Crvena boja */
  color: white; /* Bela boja teksta */
}

#crvena:hover {
  background-color: #ff4d4d; /* Svetlija crvena na hover */
  transform: scale(1.05); /* Blago povećanje */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Senka na hover */
}

.noRent button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalContent {
  width: 60%;
  max-height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.caption {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 980px) {
  .boatDetailsContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .boatDetailsContainer img {
    width: 90%;
  }
  .boatDetailsContainer .details {
    width: 90%;
  }
}
@media screen and (max-width: 460px) {
  .picker {
    width: 270px;
  }
  .custom-input {
    width: 100px;
  }
}
