.userContainer {
  margin-top: 70px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.userContainer .podaci {
  background-color: white;
  width: 25%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userContainer .podaci p span {
  font-weight: bold;
}
.userContainer .podaci .dugmici{
  display: flex;
}
.userContainer .podaci .dugmici button{
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  margin: 20px 10px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.userContainer .podaci .detailsButton {
  width: 100px;
  height: 50px;
  background-color: rgb(26, 188, 209);
  color: white;
  border: none;
  margin: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userContainer .podaci .detailsButton:hover {
  background-color: rgb(47, 223, 246);
  transition: 1s;
}
.rentedBoats {
  width: 65%;
  background-color: white;
  opacity: 0.9;
  height: 650px;
}
.rentedBoats h1 {
  text-align: center;
  font-size: 40px;
}
.rentedBoats h3 {
  text-align: center;
  font-size: 30px;
}
.rentedBoatsCont{
  display: flex;
  margin: 0 35px;
  flex-direction: row;
}
.rentedBoatAlone{
  margin: 0 10px;
}
.rentedBoats .rentedBoat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
}
.rentedBoats .rentedBoat p {
  margin-left: 10px;
}
.rentedBoats .rentedBoat p span{
  font-weight: bold;
}
.rentedBoats .rentedBoat button {
  width: 100px;
  height: 50px;
  background-color: rgb(246, 44, 44);
  color: white;
  border: none;
  margin: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.rentedBoats .rentedBoat button:hover{
  background-attachment: red;
  transition: 1s;
}
@media screen and (max-width: 975px) {
  .userContainer{
    height: auto;
  }
  .userContainer .podaci{
    height: 500px;
  }
  .userContainer .podaci .dugmici{
    display: block;
  }
  .userContainer .podaci .dugmici button{
    margin-top: 0;
  }
}

@media screen and (max-width: 620px) {
  .userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .userContainer .podaci {
    margin-bottom: 20px;
    width: 50%;
    height: 400px;
  }
  .userContainer .podaci img{
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 525px) {
  .rentedBoat img {
    width: 200px;
    height: 200px;
  }
}
