.userContainer {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.userContainer .podaci {
  background-color: white;
  width: 25%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userContainer .podaci p span {
  font-weight: bold;
}
.userContainer .podaci .dugmici button {
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  margin: 20px 10px;
  padding: 0px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.userContainer .podaci .dugmici .detailsButton {
  width: 100px;
  height: 50px;
  background-color: #189ab4;
  color: white;
  border: none;
  margin: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userContainer .podaci .detailsButton:hover {
  background-color: #75e6da;
  transition: 1s;
}
.rentedBoats {
  width: 65%;
  background-color: #f9f9f9; /* Svetla pozadina */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Suptilna senka */
}
.rentedBoats h1 {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}
.rentedBoats h3 {
  margin: auto;
  font-size: 30px;
}
.rentedBoatsCont {
  display: flex;
  flex-wrap: wrap; /* Kartice će se prilagoditi prostoru */
  justify-content: center;
  gap: 20px;
}
.rentedBoatAlone {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Kartica sa senkom */
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.rentedBoatAlone p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}
.rentedBoatAlone p span {
  font-weight: bold;
  color: #333;
}
.rentedBoatAlone button {
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d; /* Svetlo crvena */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.rentedBoatAlone button:hover {
  background-color: #e60000; /* Tamnija crvena na hover */
}
@media screen and (max-width: 975px) {
  .userContainer {
    height: auto;
  }
  .userContainer .podaci {
    height: 500px;
  }
  .userContainer .podaci .dugmici {
    display: block;
  }
  .userContainer .podaci .dugmici button {
    margin-top: 0;
  }
}

@media screen and (max-width: 620px) {
  .userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .userContainer .podaci {
    margin-bottom: 20px;
    width: 50%;
    height: 400px;
  }
  .userContainer .podaci img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 525px) {
  .rentedBoat img {
    width: 200px;
    height: 200px;
  }
}
