.searchbar {
  margin: 2%;
  margin-top: 80px;
  width: 96%;
  height: 80px;
  background-color: white;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar form {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.searchbar form label {
  font-size: 20px;
  font-weight: bold;
}
.boatsContainer {
  margin: 2%;
  background-color: white;
  opacity: 0.8;
  width: 96%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tre {
  text-align: center;
  margin: 2%;
  background-color: white;
  opacity: 0.8;
  width: 96%;
  padding: 20px 0px;
}
.boatContainer {
  margin: 5px;
  border: 3px solid #ccc;
  border-radius: 15px;
  width: 450px;
  height: 500px;
}
.boatContainer img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.boatContainer .desc {
  padding: 5px;
  text-align: center;
  padding-left: 0px;
}
.boatContainer .desc .name {
  font-size: 25px;
  margin: 0;
  font-weight: bold;
}
.boatContainer .desc .typePrice {
  display: flex;
  justify-content: space-around;
}
.boatContainer .desc .typePrice p {
  font-size: 18px;
}
.boatContainer .desc .typePrice p span{
  font-weight: bold;
}
.boatContainer .dugmici {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boatContainer .dugmici .detailsButton {
  width: 100px;
  height: 50px;
  background-color: rgb(26, 188, 209);
  color: white;
  border: none;
  margin: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boatContainer .dugmici .detailsButton:hover {
  background-color: rgb(47, 223, 246);
  transition: 1s;
}

@media screen and (max-width: 1180px) {
  .searchbar form {
    width: 70%;
  }
}
@media screen and (max-width: 970px) {
  .boatsContainer {
    justify-content: center;
  }
  .boatContainer {
    width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .searchbar form {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .searchbar {
    height: 200px;
  }
  .searchbar form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
