.logo {
  display: flex;
  align-items: center;
  text-decoration: none; /* Uklanja underline */
  gap: 10px; /* Razmak između slike i teksta */
}
.logo-img {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}
.logo-text {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 28px;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease;
}

/* Roze slova */
.logo-text span {
  color: #189ab4;
}

/* Hover efekti */
.logo:hover .logo-img {
  transform: scale(1.1);
}

.logo:hover .logo-text {
  color: #75e6da;
}

/* Responsive dizajn */
@media screen and (max-width: 845px) {
  .logo-img {
    width: 100px;
    height: auto;
  }

  .logo-text {
    font-size: 20px;
  }
}
