.logo{
    display: flex;
}
h3{
    font-family: Georgia, 'Times New Roman', serif;
    text-transform: none;
    margin-top: 30px;
    font-size: 35px;
}
.logo span{
    color: pink;
}
@media screen and (max-width: 845px) {
    .logo img{
        width: 100px;
        height: 50px;
        margin-top: 15px;
    }
    .logo h3{
        font-size: 18px;
    }
  }