/* GENERAL */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAVIGATION MENU */
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #189ab4;
}

.logoutButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.logoutButton:hover {
  background-color: darkred;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    visibility: hidden;
  }

  .nav-menu.open {
    opacity: 1;
    visibility: visible;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .logoutButton {
    font-size: 18px;
    padding: 10px 15px;
  }
}
