.resetPassContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 450px;
  margin: auto;
  margin-top: 10%;
  border-radius: 20px;
}
.resetPassContainer form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}
.resetPassContainer h1 {
  margin: 0px 0px 10px 20px;
}
.resetPassContainer form input [type="email"],
[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 50px;
}
.resetPassContainer form label {
  font-size: 20px;
  margin-top: 10px;
}
.resetPassContainer form button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.resetPassContainer form button:hover{
  background-color: #4dde52;
  transition: 1s;
}
.resetPassContainer form p {
  margin: 0px;
  margin-bottom: 10px;
  color: red;
}
@media screen and (max-width: 1230px) {
  .resetPassContainer {
    width: 50%;
  }
}
@media screen and (max-width: 890px) {
  .resetPassContainer {
    margin-top: 20%;
    width: 70%;
  }
}
