body {
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/boatBackground.jpg"); /* Relativna putanja do slike */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
